*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Baloo Da 2' ,'Josefin Slab','Mulish', serif

html,body
    height: 100%
    background-color: rgb(119, 0, 155)
    color: white

a
    text-decoration: none
    font-size: 1.4em

ul, li
    list-style: none